.like-icon.is-liked .heart {
    animation-name: heart-scale;
    animation-delay: 0.1s;
    animation-duration: 0.3s;
    animation-timing-function: ease-in;
}

@keyframes arrow-movement {
    from {
        transform: translatex(0);
    }
    to {
        transform: translatex(4px);
    }
}

/*В задании сказано - масштабирование с 1 до 1.5. Эту анимацию нужно запустить на всей группе элементов .heart
При масштабировании группы .heart на 1.5 элемент выезжает за границы viewport svg. Если делать scale всего svg
на 1.5 то соответственно всё нормально, но нам опять таки надо увеличить только группу heart -> получается, что
максимально допустимое значение без изменения параметров svg 1.2. Кстати в демонстрационном видео если присмотреться
видно, что происходит scale всего svg, что противоречит условию задания. Как в итоге в данном случае правильно поступать?
 */
@keyframes heart-scale {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}

@keyframes spark {
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
