/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    padding-inline: clamp(0px, calc(100% - 1024px), 372px);
    font-family: var(--text-main-font);
    font-variation-settings: 'wght' var(--text-font-weight);
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    color: var(--accent-color);
    background-color: var(--themes-background);
    background-image: var(--themes-background-image);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    inline-size: 100%;
    flex-direction: column;
    align-items: center;
    margin-block: 100px;
    /*padding-inline: 14px;*/
    font-family: var(--text-accent-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid var(--themes-border-color);
    background-color: var(--themes-background);
}

.header__title-large {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    font-weight: 400;
    text-transform: uppercase;
    margin-block-start: 120px;
    margin-block-end: 20px;
}

.header__title-small {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin-block-end: 25px;
    text-transform: uppercase;
}

.theme-menu {
    align-self: start;
    margin-inline-start: 154px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-block-end: 25px;
}

.theme-menu__button {
    position: relative;
    background-color: transparent;
    text-align: start;
    border: none;
    padding: 0;
    text-transform: uppercase;
    min-inline-size: 84px;
    min-block-size: 14px;
    cursor: pointer;
}

.theme-menu__button:disabled {
    pointer-events: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.button__name {
    position: relative;
    width: min-content;
}

.button__name::after {
    content: "";
    position: absolute;
    inset-block-end: -1px;
    inset-inline-start: 0;
    background-color: black;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible .button__name::after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    inset-inline-start: -19px;
    animation-name: arrow-movement;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background-color: var(--themes-background);
}

img {
    width: 100%;
    height: auto;
}

.card__title {
    font-variation-settings: 'wght' var(--title-font-weight);
    font-size: 18px;
    line-height: 23px;
    padding-inline: 10px;
    padding-block-start: 4px;
    min-block-size: 56px;
    border: 2px solid var(--themes-border-color);
}

.card__image-box {
    position: relative;
    border-inline: 2px solid var(--themes-border-color);
    border-bottom: 2px solid var(--themes-border-color);
}

.card__image {
    display: block;
}

.card__label {
    position: absolute;
    inset-block-start: 20px;
    inset-inline-end: 11px;
    font-family: var(--text-accent-font);
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 0 0 0 0 var(--stroke-color);
    opacity: 0.5;
    mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
    .card__label {
        -webkit-text-stroke: 1px var(--stroke-color);
        text-shadow: none;
    }
}

.card__description-box {
    padding: 25px;
    border-inline: 2px solid var(--themes-border-color);
}

.card__text:not(:last-child) {
    margin-block-end: 27px;
}

.card__actions-box {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;
    min-block-size: 38px;
    padding-inline: 25px;
    padding-bottom: 25px;
    border-inline: 2px solid var(--themes-border-color);
    border-bottom: 2px solid var(--themes-border-color);
}

.card__button, .content__button {
    background-color: transparent;
    padding: 0;
}

.card__like-button {
    position: relative;
    min-inline-size: 130px;
    min-block-size: 38px;
    border: 2px solid var(--themes-border-color);
    color: var(--button-text-color);
}

.button__text {
    mix-blend-mode: difference;
}

.card__like-button::before,
.content__button::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out
}

.card__like-button:hover::before {
    transform: scaleX(1);
}

.card__like-button:focus {
    outline: none;
    box-shadow: 2px 2px black;
    transition: box-shadow 0.3s ease;
}

.card__icon-button {
    padding: 0;
    block-size: 38px;
    border: 2px solid transparent;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
    transition: border-color 0.3s ease;
}

.content__actions {
    margin-block-end: 102px;
}

.content__button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-inline-size: 335px;
    min-block-size: 51px;
    border: 2px solid var(--themes-border-color);
    color: var(--button-text-color);
}

.content__button:hover::before {
    transform: scaleX(1);
}

.floppy {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
}


@media (width <= 375px) {
    .floppy {
        width: 28px;
        height: 28px;
    }

    .content__button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-inline-size: 306px;
        min-block-size: 80px;
    }
}

@keyframes arrow-movement {
    from {
        transform: translatex(0);
    }
    to {
        transform: translatex(4px);
    }
}

