/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    padding-inline: clamp(0px, calc(100% - 1024px), 370px);
    font-family: var(--text-main-font);
    font-variation-settings: 'wght' var(--text-font-weight);
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    color: var(--accent-color);
    background-color: var(--themes-background);
    background-image: var(--themes-background-image);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    inline-size: 100%;
    flex-direction: column;
    align-items: center;
    margin-block: 100px;
    font-family: var(--text-accent-font);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 2px solid var(--themes-border-color);
    background-color: var(--themes-background);
}

.header__title-large {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    font-weight: 400;
    text-transform: uppercase;
    margin-block-start: 136px;
    margin-block-end: 20px;
}

.header__title-small {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    margin-block-end: 25px;
    text-transform: uppercase;
}

.theme-menu {
    margin-left: 16px;
}

.theme-menu__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-block-end: 25px;
}

.theme-menu__button {
    position: relative;
    background-color: transparent;
    text-align: start;
    border: none;
    padding: 0;
    text-transform: uppercase;
    min-inline-size: 84px;
    min-block-size: 14px;
    cursor: pointer;
}

.theme-menu__button:disabled {
    pointer-events: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:hover {
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.button__name {
    position: relative;
    width: min-content;
}

.button__name::after {
    content: "";
    position: absolute;
    inset-block-end: -1px;
    inset-inline-start: 0;
    background-color: var(--accent-color);
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: left;
}

.theme-menu__button:focus {
    outline: none;
    opacity: 0.6;
    transition: opacity 0.3s ease;
}

.theme-menu__button:focus-visible .button__name::after {
    transform: scaleX(1);
    transition: transform 0.3s ease;
}

.theme-menu__button:disabled::before {
    content: '▶';
    position: absolute;
    inset-inline-start: -19px;
    animation-name: arrow-movement;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}

.casey-horner {
    filter: brightness(150%) saturate(60%) hue-rotate(90deg);
}

.light-bulbs {
    filter: sepia(70%);
}

.moon {
    filter: saturate(130%);
}

.night-field {
    filter: grayscale(1);
}

.night-forest {
    filter: blur(2px) brightness(3) hue-rotate(30deg) saturate(1.5);
}

.starry-sky {
    filter: brightness(0.8) contrast(1.2) grayscale(0.5);
}

.sunset-mountains {
    filter: saturate(115%) opacity(0.85);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.content__card {
    background-color: var(--themes-background);
}

.content__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__title {
    font-variation-settings: 'wght' var(--title-font-weight);
    font-size: 18px;
    line-height: 23px;
    padding-inline: 10px;
    padding-block-start: 4px;
    min-block-size: 35px;
    border: 2px solid var(--themes-border-color);
}

.card__image-box {
    position: relative;
    border-inline: 2px solid var(--themes-border-color);
    border-bottom: 2px solid var(--themes-border-color);
}

.card__label {
    position: absolute;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    font-family: var(--text-accent-font);
    font-size: 14px;
    text-shadow: 0 0 0 0 var(--stroke-color);
    opacity: 0.5;
    mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--stroke-color)) {
    .card__label {
        -webkit-text-stroke: 1px var(--stroke-color);
        text-shadow: none;
    }
}

.card__description-box {
    padding: 25px;
    border-inline: 2px solid var(--themes-border-color);
}

.card__text:not(:last-child) {
    margin-block-end: 27px;
}

.card__actions-box {
    display: flex;
    justify-content: flex-end;
    gap: 4px;
    align-items: center;
    min-block-size: 38px;
    padding-inline: 25px;
    padding-bottom: 25px;
    border-inline: 2px solid var(--themes-border-color);
    border-bottom: 2px solid var(--themes-border-color);
}

.card__button, .content__button {
    background-color: transparent;
    padding: 0;
}

.card__like-button {
    position: relative;
    min-inline-size: 130px;
    min-block-size: 38px;
    border: 2px solid var(--themes-border-color);
    color: var(--button-text-color);
}

.button__text {
    mix-blend-mode: difference;
}

.card__like-button::before,
.content__button::before,
.dialog__button::before {
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out
}

.card__like-button:hover::before,
.dialog__button:hover::before {
    transform: scaleX(1);
}

.card__like-button:focus,
.content__button:focus,
.dialog__button:focus {
    outline: none;
}

.card__like-button:focus-visible,
.content__button:focus-visible,
.dialog__button:focus-visible {
    box-shadow: 2px 2px var(--accent-color);
    transition: box-shadow 0.3s ease;
}

.card__icon-button {
    padding: 0;
    block-size: 38px;
    border: 2px solid transparent;
}

.contour {
    transition: fill 0.1s linear;
}

.main-body {
    fill: transparent;
    transition: fill 0.3s linear;
}

.core {
    fill: transparent;
    transition: fill 0.3s linear;
    transition-delay: 0.03s;
}

.card__icon-button:hover .main-body {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.card__icon-button:hover .core {
    fill: var(--accent-color);
    transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.card__icon-button:active .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
}

.like-icon.is-liked .contour {
    fill: var(--heart-fill-color);
    transition: fill 0.3s linear;
    transition-delay: 0.06s;
}

.sparks {
    opacity: 0;
}

.like-icon.is-liked .sparks {
    animation-name: spark;
    animation-delay: 0.3s;
    animation-duration: 0.3s;
}

.card__icon-button:focus {
    outline: none;
}

.card__icon-button:focus-visible {
    border: 2px solid var(--accent-color);
    transition: border-color 0.3s ease;
}

.content__actions {
    margin-block-end: 102px;
    background-color: var(--themes-background);
}

.content__button {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-inline-size: 339px;
    min-block-size: 55px;
    border: 2px solid var(--themes-border-color);
    color: var(--button-text-color);
}

.content__button:hover::before {
    transform: scaleX(1);
}

.floppy {
    width: 21px;
    height: 21px;
    mix-blend-mode: difference;
}

.content__dialog {
    max-inline-size: 361px;
    min-block-size: 197px;
    background-color: var(--themes-background);
    color: var(--button-text-color);
    font-family: var(--text-accent-font);
    font-size: 14px;
    text-transform: uppercase;
    border: 2px solid var(--themes-border-color);
}

.content__dialog::backdrop {
    background-color: #000;
    opacity: 0.75;
}

.content__dialog[open] .floppy {
    fill: var(--accent-color);
    min-inline-size: 39px;
    min-block-size: 39px;
}

.content__dialog[open] {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 40px;
    justify-content: center;
}

.dialog__content {
    display: flex;
    gap: 20px;
}

.dialog__text {
    mix-blend-mode: difference;
}

.dialog__button {
    position: relative;
    min-inline-size: var(--dialog-button-min-width);
    min-block-size: var(--dialog-button-min-height);
    border: 2px solid var(--themes-border-color);
    background-color: transparent;
    text-transform: uppercase;
}

@media (width <= 375px) {
    .floppy {
        width: 28px;
        height: 28px;
    }

    .content__button {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-inline-size: 310px;
        min-block-size: 84px;
    }

    .header__title-large {
        margin-block-start: 120px;
    }

    .theme-menu {
        margin-left: 21px;
    }

    .card__label {
        inset-block-start: 20px;
        inset-inline-end: 11px;
    }

    .content__item:first-child .card__title {
        min-block-size: 56px;
    }

    .content__dialog {
        max-inline-size: 345px;
        min-block-size: 199px;
    }
}


