:root.theme-dark {
    --text-font-weight: 465;
    --title-font-weight: 785;
    --themes-background: #000;
    --themes-border-color: #00CC14;
    --accent-color: #00CC14;
    --stroke-color: #000;
    --button-text-color: #00CC14;
    --button-animation-background: #00CC14;
    --heart-contur-color: #00CC14;
    --themes-background-image: repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #007f0c, #004306);
}

:root.theme-light {
    --text-font-weight: 400;
    --title-font-weight: 700;
    --themes-background: #FFF;
    --themes-border-color: #000;
    --accent-color: #000;
    --stroke-color: #FFF;
    --button-text-color: #FFF;
    --button-animation-background: #000;
    --heart-contur-color: #000;
    --themes-background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-font-weight: 465;
        --title-font-weight: 785;
        --themes-background: #000;
        --themes-border-color: #00CC14;
        --accent-color: #00CC14;
        --stroke-color: #000;
        --button-text-color: #00CC14;
        --button-animation-background: #00CC14;
        --heart-contur-color: #00CC14;
        --themes-background-image: repeating-linear-gradient(to left, #000 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #000 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #007f0c, #004306);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --text-font-weight: 400;
        --title-font-weight: 700;
        --themes-background: #FFF;
        --themes-border-color: #000;
        --accent-color: #000;
        --stroke-color: #FFF;
        --button-text-color: #FFF;
        --button-animation-background: #000;
        --heart-contur-color: #000;
        --themes-background-image: repeating-linear-gradient(to left, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
        repeating-linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
    }
}